In [6]:
import pandas as pd

In [7]:
# import house_data dataset
original_dataset = pd.read_csv('kc_house_data.csv')
original_dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [13]:
# ignore columns: id, date and zipcode
# also ignore price column because this is the response and what we are trying to predict
response = original_dataset['price']
features = original_dataset.drop(columns=['id', 'date', 'zipcode', 'price'])
features.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,47.6168,-122.045,1800,7503

2. Compute the correlation coefficient of each feature with the response. Include a table with the correlation coefficient of each feature with the response. 
Which features are positively correlated (i.e., have positive correlation coefficient) with the response?

Which feature has the highest positive correlation with the response?

In [21]:
corrs = features.corrwith(response)

corr_table = {
    'correlation with response': corrs
}

pd.DataFrame(corr_table)

               correlation with response
bedrooms                        0.308350
bathrooms                       0.525138
sqft_living                     0.702035
sqft_lot                        0.089661
floors                          0.256794
waterfront                      0.266369
view                            0.397293
condition                       0.036362
grade                           0.667434
sqft_above                      0.605567
sqft_basement                   0.323816
yr_built                        0.054012
yr_renovated                    0.126434
lat                             0.307003
long                            0.021626
sqft_living15                   0.585379
sqft_lot15                      0.082447