In [8]:
import pandas as pd

In [9]:
# import house_data dataset
original_dataset = pd.read_csv('kc_house_data.csv')
original_dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [14]:
# ignore columns: id, date and zipcode
# also ignore price column because this is the response and what we are trying to predict
features = original_dataset.drop(columns=['id', 'date', 'zipcode', 'price'])
features.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,47.6168,-122.045,1800,7503

1. For each feature, write code to compute the average value, the min and max values, as well as its variance.

In [15]:
# for loop with each column of dataset that stores each stat as a variable
for feature in features:
    avg = features.mean()
    min = features.min()
    max = features.max()
    var = features.var()

# organize all variables into a table
stats = {
    'average value': avg,
    'min value': min,
    'max value': max,
    'variance': var
}

feature_data = pd.DataFrame(stats)
feature_data

               average value  min value     max value      variance
bedrooms            3.370842     0.0000  3.300000e+01  8.650150e-01
bathrooms           2.114757     0.0000  8.000000e+00  5.931513e-01
sqft_living      2079.899736   290.0000  1.354000e+04  8.435337e+05
sqft_lot        15106.967566   520.0000  1.651359e+06  1.715659e+09
floors              1.494309     1.0000  3.500000e+00  2.915880e-01
waterfront          0.007542     0.0000  1.000000e+00  7.485226e-03
view                0.234303     0.0000  4.000000e+00  5.872426e-01
condition           3.409430     1.0000  5.000000e+00  4.234665e-01
grade               7.656873     1.0000  1.300000e+01  1.381703e+00
sqft_above       1788.390691   290.0000  9.410000e+03  6.857347e+05
sqft_basement     291.509045     0.0000  4.820000e+03  1.958727e+05
yr_built         1971.005136  1900.0000  2.015000e+03  8.627973e+02
yr_renovated       84.402258     0.0000  2.015000e+03  1.613462e+05
lat                47.560053    47.1559  4.777760e+01  1.919990e-02
long             -122.213896  -122.5190 -1.213150e+02  1.983262e-02
sqft_living15    1986.552492   399.0000  6.210000e+03  4.697612e+05
sqft_lot15      12768.455652   651.0000  8.712000e+05  7.455182e+08

Which features have the lowest and the highest average? Include the feature name and their average values for the features with the
lowest and highest average.

In [12]:
max_avg = feature_data['average value'].max()
max_feature = feature_data['average value'].idxmax()

min_avg = feature_data['average value'].min()
min_feature = feature_data['average value'].idxmin()

print("Feature with the highest average was:", max_feature, "with an average of:", max_avg)
print("Feature with the lowest average was:", min_feature, "with an average of:", min_avg)

Feature with the highest average was: sqft_lot with an average of: 15106.967565816869
Feature with the lowest average was: long with an average of: -122.21389640494147

Which features have the lowest and the highest variance? Include the feature name and their variance values for the features with the
lowest and highest variance.

In [13]:
max_var = feature_data['variance'].max()
max_feature1 = feature_data['variance'].idxmax()

min_var = feature_data['variance'].min()
min_feature1 = feature_data['variance'].idxmin()

print("Feature with the highest variance was:", max_feature1, "with an average of:", max_var)
print("Feature with the lowest variance was:", min_feature1, "with an average of:", min_var)

Feature with the highest variance was: sqft_lot with an average of: 1715658774.1754544
Feature with the lowest variance was: waterfront with an average of: 0.007485225502689098